@{
    ViewData["Title"] = "Home Page";
}




<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-dashboard" id="hell">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="controls left"><i class="ion ion-more"></i></div>
                            <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                            <div class="center">Helligkeit</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="huge">hell</div>
                    <button class="btn btn-default btn-block" id="hellConnect">Connect</button>
                    <div class="clearfix"></div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-dashboard">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="controls left"><i class="ion ion-more"></i></div>
                            <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                            <div class="center">Zeit Intervall </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="huge">netInData</div>
                    <button class="btn btn-default btn-block" id="hellÄndern">Ändern</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-dashboard" id="temp">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="controls left"><i class="ion ion-more"></i></div>
                            <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                            <div class="center">Temperatur</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="huge">netOutData</div>
                    <button class="btn btn-default btn-block" id="tempConnect">Connect</button>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-dashboard">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="controls left"><i class="ion ion-more"></i></div>
                            <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                            <div class="center">Zeit Intervall </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="huge">diskReaddData</div>
                    <button class="btn btn-default btn-block" id="tempÄndern">Ändern</button>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-dashboard">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="controls left"><i class="ion ion-more"></i></div>
                            <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                            <div class="center">Memory/CPU/Network </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    <div id="lineChart" style="width: 800px; height: 200px"></div>
                </div>


                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-dashboard">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="controls left"><i class="ion ion-more"></i></div>
                            <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                            <div class="center">NETWORK/MEMORY/CPU </div>
                        </div>
                    </div>

                </div>

                <div class="panel-body">
                    <div ng-controller="PerformanceDataController">
                        <epoch-live-bar chart-class="category10" chart-height="200" chart-data="realtimeBar" chart-stream="realtimeBarFeed" chart-axes="barAxes"></epoch-live-bar>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-dashboard">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="huge">currentRamNumber</div>
                            <div class="controls left"><i class="ion ion-more"></i></div>
                            <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                            <div class="center">Responsive Timeline</div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div ng-controller="PerformanceDataController">
                        <div>
                            <epoch-live-line chart-class="category10" chart-height="200" chart-data="realtimeLine" chart-stream="realtimeLineFeed" chart-axes="areaAxes"></epoch-live-line>
                        </div>
                    </div>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.col-lg-8 -->

        <div class="col-lg-4">
            <div class="panel panel-dashboard">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="huge">currentRamNumber</div>
                            <div class="controls left"><i class="ion ion-more"></i></div>
                            <div class="controls right"><a class="remove"><i class="ion ion-minus-round "></i></a></div>
                            <div class="center">CPU Performance</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-controller="PerformanceDataController">
                        <pie-chart data="data" options="options"></pie-chart>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>

            <div class="panel panel-dashboard">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="huge">{{currentRamNumber}}</div>
                            <div class="controls left"><i class="ion ion-more"></i></div>
                            <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                            <div class="center">Notifications Panel</div>
                        </div>
                    </div>

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group" ng-controller="ServerTimeController">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> Server Time
                            <span class="pull-right text-muted small">
                                <em>{{currentServerTime}}</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-warning fa-fw"></i> Server Not Responding
                            <span class="pull-right text-muted small">
                                <em>10:57 AM currentServerTimeManually</em>
                            </span>
                        </a>

                    </div>
                    <!-- /.list-group -->
                    <button class="btn btn-default btn-block">{{Get Manual Time}}</button>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->


        </div>
        <!-- /.col-lg-4 -->
    </div>

    <!-- /.row -->
</div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/js/angular.min.js"></script>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/d3.min.js"></script>
    <script src="~/js/epoch.min.js"></script>
    <script src="~/js/ng-epoch.js"></script>
    <script src="~/js/pie-chart.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/js/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/js/raphael.min.js"></script>
    <script src="~/js/morris.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/js/sb-admin-2.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

<!-- /#page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="mqttws31.js" type="text/javascript"></script>
<script src="http://cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
<script src="~/js/site.js"></script>









